{{- $gitName := promptStringOnce . "gitName" "Git name" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git email" -}}

[data]
    gitName = {{ $gitName | quote }}
    gitEmail = {{ $gitEmail | quote }}
